<div>
    <div>
        <app-nav-bar></app-nav-bar>
    </div>
    <div style="display: flex; justify-content: center; align-items: center; height: 80vh;" *ngIf="usuario">
        <div style="width: 400px; padding: 30px; border: 1px solid #0070b2; border-radius: 5px;">
            <div style="margin-top: 20px;">
                <div style="margin-bottom: 10px;">
                    <label>Nombre:</label>
                    <input type="text" [(ngModel)]="usuario.nombre" name="nombre" style="display: block; width: 100%;">
                </div>
                <div style="margin-bottom: 10px;">
                    <label>Apellido:</label>
                    <input type="text" [(ngModel)]="usuario.apellido" name="apellido"
                        style="display: block; width: 100%;">
                </div>
                <div style="margin-bottom: 10px;">
                    <label>Rut:</label>
                    <input type="text" [(ngModel)]="usuario.rut" name="rut" style="display: block; width: 100%;">
                </div>
                <div style="margin-bottom: 10px;">
                    <label>DV Rut:</label>
                    <input type="text" [(ngModel)]="usuario.rutDV" name="rutDV" style="display: block; width: 100%;">
                </div>

                <div class="button-group">
                    <button type="button" class="btn btn-lg" (click)="back()">Atrás</button>
                    <button type="button" class="btn btn-lg" (click)="actualizarUsuario()">Actualizar</button>
                </div>

            </div>
        </div>
    </div>


</div>